-- ==========================================
-- ?곸슜 DB(Production) ?꾩껜 ?ъ슜??異붿텧蹂?-- ==========================================
DROP TABLE IF EXISTS public.users CASCADE;
CREATE TABLE public.users (
  id bigint PRIMARY KEY,
  email text,
  password text,
  name text,
  company text,
  role text,
  rank text,
  date text,
  status text
);
INSERT INTO public.users (id, email, password, name, company, role, rank, date, status) VALUES
(1, 'mjjeon@shinwoovalve.com', '1', '?꾨???, '?덉쭏蹂댁쬆遺', 'manager', '李⑥옣', '2026-04-05', 'Active'),
(999, 'admin_stg@shinwoo.com', 'admin123', '?ㅽ뀒?댁쭠愿由ъ옄', '?덉쭏蹂댁쬆遺', 'manager', '理쒓퀬愿由ъ옄', '2026-04-05', 'Active');
